:root {
  --bg: #0B486BE5;
  --bg-opacity: 0.9;
  --text: #fff;
  --white: #fff;
  --black: #000;
  --gray: #666;
  --red: #cc241d;
  --z-index-overlay: 10;
  --z-index-logo: 100;

  --player-1-color: #fb4934;
  --player-2-color: #b8bb26;
  --player-3-color: #fabd2f;
  --player-4-color: #458588;
  --player-5-color: #d3869b;
  --player-6-color: #fe8019;
  --player-7-color: #8ec07c;
  --player-8-color: #3c3836;

  --tile-row-height: 10.75%;
  --tile-width: calc((100 / 10) * 1%);
  --tile-height: calc(var(--tile-width) * 1.1547005);
}

* {
  box-sizing: border-box;
}

html {
  min-height: 100%;
}


body {
  min-height: 100%;
  background: linear-gradient(to right, color-mix(in srgb, var(--bg) 90%, var(--white)), var(--bg)), url('/images/waves.svg');
  color: var(--text);
  font-family: 'Crimson Text', serif;
}


h1 {
  font-size: 2em;
}

h2 {
  margin: 0;
  text-transform: uppercase;
  letter-spacing: .1em;
  font-size: 1em;
}

a:link {
  color: #fff;
  text-decoration: underline;
}

a:visited {
  color: rgba(255, 255, 255, .5);
}

form {
  font-size: inherit;
}

hr {
  border: 1px solid #fff;
  border-width: 1px 0 0;
  margin: 1em 0;
}

.App {
  max-width: 60em;
  margin: 0 auto;
}

.Icon {
  width: 1em;
  height: 1em;
  display: inline-block;
  vertical-align: bottom;
}

.Players {
  list-style: none;
  margin: 0 0 1em;
  padding: 0;
  color: var(--white);
  text-shadow: 0 -1px 1px rgba(0, 0, 0, .2);
}

.Player {
  padding: .75em;
  margin: 0;
  display: flex;
  line-height: 1;
  justify-content: space-between;
  transition: padding 0.1s ease;

  & small {
    font-size: .5em;
    text-transform: uppercase;
    letter-spacing: .1em;
    margin-left: 1em;
    font-family: sans-serif;
    font-weight: normal;
    display: inline-block;
    background: rgba(0, 0, 0, .1);
    padding: .5em;
    border-radius: .25em;
  }

  &.player-current {
    padding-top: 1.5em;
    padding-bottom: 1.5em;
  }

  &.player-inactive {
    opacity: 0.5;
  }

  &.icon {
    margin-left: .25em;
  }
}

.Board {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Tiles {
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  left: calc(40vw - 650 / 508 / 2 * 100vh);
  width: calc(650 / 508 * 100vh);
  height: 100vh;
}

/**** online compiler ****************** */
#tile_1 {
  top: 0%;
  left: 5%;
}

#tile_2 {
  top: 0%;
  left: 15%;
}

#tile_3 {
  top: 0%;
  left: 25%;
}

#tile_4 {
  top: 0%;
  left: 35%;
}

#tile_5 {
  top: 0%;
  left: 45%;
}

#tile_6 {
  top: 0%;
  left: 55%;
}

#tile_7 {
  top: 0%;
  left: 65%;
}

#tile_8 {
  top: 0%;
  left: 75%;
}

#tile_9 {
  top: 0%;
  left: 85%;
}

#tile_10 {
  top: 10.75%;
  left: 0%;
}

#tile_11 {
  top: 10.75%;
  left: 10%;
}

#tile_12 {
  top: 10.75%;
  left: 20%;
}

#tile_13 {
  top: 10.75%;
  left: 30%;
}

#tile_14 {
  top: 10.75%;
  left: 40%;
}

#tile_15 {
  top: 10.75%;
  left: 50%;
}

#tile_16 {
  top: 10.75%;
  left: 60%;
}

#tile_17 {
  top: 10.75%;
  left: 70%;
}

#tile_18 {
  top: 10.75%;
  left: 80%;
}

#tile_19 {
  top: 10.75%;
  left: 90%;
}

#tile_20 {
  top: 21.5%;
  left: 5%;
}

#tile_21 {
  top: 21.5%;
  left: 15%;
}

#tile_22 {
  top: 21.5%;
  left: 25%;
}

#tile_23 {
  top: 21.5%;
  left: 35%;
}

#tile_24 {
  top: 21.5%;
  left: 45%;
}

#tile_25 {
  top: 21.5%;
  left: 55%;
}

#tile_26 {
  top: 21.5%;
  left: 65%;
}

#tile_27 {
  top: 21.5%;
  left: 75%;
}

#tile_28 {
  top: 21.5%;
  left: 85%;
}

#tile_29 {
  top: 32.25%;
  left: 0%;
}

#tile_30 {
  top: 32.25%;
  left: 10%;
}

#tile_31 {
  top: 32.25%;
  left: 20%;
}

#tile_32 {
  top: 32.25%;
  left: 30%;
}

#tile_33 {
  top: 32.25%;
  left: 40%;
}

#tile_34 {
  top: 32.25%;
  left: 50%;
}

#tile_35 {
  top: 32.25%;
  left: 60%;
}

#tile_36 {
  top: 32.25%;
  left: 70%;
}

#tile_37 {
  top: 32.25%;
  left: 80%;
}

#tile_38 {
  top: 32.25%;
  left: 90%;
}

#tile_39 {
  top: 43%;
  left: 5%;
}

#tile_40 {
  top: 43%;
  left: 15%;
}

#tile_41 {
  top: 43%;
  left: 25%;
}

#tile_42 {
  top: 43%;
  left: 35%;
}

#tile_43 {
  top: 43%;
  left: 45%;
}

#tile_44 {
  top: 43%;
  left: 55%;
}

#tile_45 {
  top: 43%;
  left: 65%;
}

#tile_46 {
  top: 43%;
  left: 75%;
}

#tile_47 {
  top: 43%;
  left: 85%;
}

#tile_48 {
  top: 53.75%;
  left: 0%;
}

#tile_49 {
  top: 53.75%;
  left: 10%;
}

#tile_50 {
  top: 53.75%;
  left: 20%;
}

#tile_51 {
  top: 53.75%;
  left: 30%;
}

#tile_52 {
  top: 53.75%;
  left: 40%;
}

#tile_53 {
  top: 53.75%;
  left: 50%;
}

#tile_54 {
  top: 53.75%;
  left: 60%;
}

#tile_55 {
  top: 53.75%;
  left: 70%;
}

#tile_56 {
  top: 53.75%;
  left: 80%;
}

#tile_57 {
  top: 53.75%;
  left: 90%;
}

#tile_58 {
  top: 64.5%;
  left: 5%;
}

#tile_59 {
  top: 64.5%;
  left: 15%;
}

#tile_60 {
  top: 64.5%;
  left: 25%;
}

#tile_61 {
  top: 64.5%;
  left: 35%;
}

#tile_62 {
  top: 64.5%;
  left: 45%;
}

#tile_63 {
  top: 64.5%;
  left: 55%;
}

#tile_64 {
  top: 64.5%;
  left: 65%;
}

#tile_65 {
  top: 64.5%;
  left: 75%;
}

#tile_66 {
  top: 64.5%;
  left: 85%;
}

#tile_67 {
  top: 75.25%;
  left: 0%;
}

#tile_68 {
  top: 75.25%;
  left: 10%;
}

#tile_69 {
  top: 75.25%;
  left: 20%;
}

#tile_70 {
  top: 75.25%;
  left: 30%;
}

#tile_71 {
  top: 75.25%;
  left: 40%;
}

#tile_72 {
  top: 75.25%;
  left: 50%;
}

#tile_73 {
  top: 75.25%;
  left: 60%;
}

#tile_74 {
  top: 75.25%;
  left: 70%;
}

#tile_75 {
  top: 75.25%;
  left: 80%;
}

#tile_76 {
  top: 75.25%;
  left: 90%;
}

#tile_77 {
  top: 86%;
  left: 5%;
}

#tile_78 {
  top: 86%;
  left: 15%;
}

#tile_79 {
  top: 86%;
  left: 25%;
}

#tile_80 {
  top: 86%;
  left: 35%;
}

#tile_81 {
  top: 86%;
  left: 45%;
}

#tile_82 {
  top: 86%;
  left: 55%;
}

#tile_83 {
  top: 86%;
  left: 65%;
}

#tile_84 {
  top: 86%;
  left: 75%;
}

#tile_85 {
  top: 86%;
  left: 85%;
}

/**** end online compiler ****************** */

.Tile {
  position: absolute;
  width: var(--tile-width);
  height: var(--tile-height);
  transition: transform ease-in-out 0.1s;

  & svg {
    fill: #fbf1c7;
    filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, .25));
    overflow: visible;
  }

  &.tile-selected {
    stroke: rgba(255, 255, 255, .5);
    stroke-width: 15px;
    paint-order: stroke;
  }

  &[phx-click="place_unit"],
  &[phx-click="select_tile"] {
    cursor: pointer;

    & svg {
      stroke: rgba(255, 255, 255, .25);
      stroke-width: 15px;
      paint-order: stroke;
    }

    &:hover {
      transform: scale(1.1);
    }

    &[phx-click="start_move"] {
      svg {
        filter: drop-shadow(0 0 3px rgba(255, 255, 255, .75)) drop-shadow(0 0 5px rgba(0, 128, 0, 1));
      }
    }

    &[phx-click="attack"] {
      svg {
        filter: drop-shadow(0 0 3px rgba(255, 255, 255, .75)) drop-shadow(0 0 5px rgba(255, 0, 0, 1));
      }
    }
  }
}

.TileCenter {
  background-color: #aaa;
  border-radius: 50%;
  display: block;
  width: 35px;
  height: 35px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -40%);
  line-height: 32px;
  border: 3px solid rgba(0, 0, 0, .25);
  font-weight: bold;
  font-size: 18px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .5);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.player-bg-1 {
  background-color: var(--player-1-color);
}

.player-bg-2 {
  background-color: var(--player-2-color);
}

.player-bg-3 {
  background-color: var(--player-3-color);
}

.player-bg-4 {
  background-color: var(--player-4-color);
}

.player-bg-5 {
  background-color: var(--player-5-color);
}

.player-bg-6 {
  background-color: var(--player-6-color);
}

.player-bg-7 {
  background-color: var(--player-7-color);
}

.player-bg-8 {
  background-color: var(--player-8-color);
}

.region-1 svg {
  fill: #493829;
}

.region-2 svg {
  fill: #816c5b;
}

.region-3 svg {
  fill: #404f24;
}

.region-4 svg {
  fill: #613318;
}

.region-5 svg {
  fill: #bdd09f;
}

.region-6 svg {
  fill: #b99c6b;
}

.region-7 svg {
  fill: #dbca69;
}

.region-8 svg {
  fill: #a9a18c;
}

.region-9 svg {
  fill: #855723;
}

.region-10 svg {
  fill: #eae2b7;
}

.region-ownedby-1 svg {
  stroke: var(--player-1-color);
}

.region-ownedby-2 svg {
  stroke: var(--player-2-color);
}

.region-ownedby-3 svg {
  stroke: var(--player-3-color);
}

.region-ownedby-4 svg {
  stroke: var(--player-4-color);
}

.region-ownedby-5 svg {
  stroke: var(--player-5-color);
}

.region-ownedby-6 svg {
  stroke: var(--player-6-color);
}

.region-ownedby-7 svg {
  stroke: var(--player-7-color);
}

.region-ownedby-8 svg {
  stroke: var(--player-8-color);
}

.Regions {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.Region {
  position: relative;
  flex-basis: 25%;

  & span {
    position: absolute;
    font-size: 18px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .5);
  }

  & svg {
    filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, .25));
    overflow: visible;
    stroke-width: 25px;
    paint-order: stroke;
  }
}

.Modal {
  background: rgba(0, 0, 0, .75);
  position: fixed;
  top: 0;
  width: 80%;
  left: 20%;
  z-index: var(--z-index-overlay);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.GameOver {
  color: var(--white);
  font-weight: bold;
  text-shadow: 0 1px 2px var(--black);
}

.Button {
  border: 0;
  padding: .5em;
  font: inherit;
  border-radius: .25em;
  color: var(--white);
  box-shadow: 0 1px 3px rgba(0, 0, 0, .25);
  transition: all .1s ease-in;
  cursor: pointer;
  display: block;
  width: 100%;
  text-align: center;
  background-color: var(--gray);
  text-decoration: none;

  &:hover,
  &:focus {
    filter: brightness(0.85);
  }

  &:disabled {
    color: rgba(255, 255, 255, .5);
    cursor: not-allowed;
  }

  &.big {
    padding: .5em;
  }

  &.primary {
    background-color: var(--red);

    &:hover,
    &:focus {
      filter: brightness(0.85);
    }
  }
}

.Logo {
  display: block;
  width: 200px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  z-index: var(--z-index-logo);
}

.Game {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.Display {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 20%;
  background-color: rgba(0, 0, 0, .5);
  padding: 0 1em;
  overflow: auto;

  &>* {
    margin: 1em auto;
  }
}

.Board {
  position: absolute;
  top: 0;
  left: 20%;
  width: 80%;
  height: 100%;
}

.MoveForm {
  min-width: 50%;
}

.MoveForm-actions {
  display: flex;
  justify-content: space-between;
  /*
    // The "Submit" button must be first in the DOM so that it’s
    // triggered on pressing [Enter], but it should appear last
    // in the row, hence the reversed order.
    */
  flex-direction: row-reverse;

  &>* {
    white-space: nowrap;
    margin-right: 1em;

    &:first-child {
      margin-right: 0;
    }
  }
}

.MoveForm-slider {
  display: flex;
  font-size: 4em;
  text-shadow: 0 1px 3px var(--black);

  &>* {
    margin: .5em;
  }
}

.MoveForm-input {
  flex-grow: 1;
  width: 100%;
}

.Label {
  display: block;
  margin-bottom: .5em;
}

.TextInput {
  width: 100%;
  font-size: inherit;
  padding: .5em;
  border-radius: .25em;
  border: 0;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .25);
}

.help-block {
  display: block;
  color: var(--red);
  margin-bottom: 1em;
}

.visually-hidden {
  position: absolute;
  left: -9999px;
}

.alert {
  color: #fff;
  background-color: rgba(0, 0, 0, .1);
  padding: .5em;
  border-radius: .25em;
  border: 1px solid rgba(0, 0, 0, .25);
}

.text-center {
  text-align: center;
}

.opacity-25 {
  opacity: 0.25;
}

.center {
  text-align: center;
}

.jumbo {
  font-size: 3em;
}

.narrow {
  max-width: 18em;
  margin-left: auto;
  margin-right: auto;
}

[phx-click="toggle_tile"],
[phx-click="select_region"] {
  cursor: pointer;
}