<div class="Modal">
  <div class="MoveForm">
    <h2>Move how many?</h2>
    <form
      class="MoveForm-slider"
      phx-target={@myself}
      phx-change="update_count"
    >
      <span><%= @pending_move.min %></span>
      <input 
        class="MoveForm-input"
        type="range"
        min={@pending_move.min}
        max={@pending_move.max}
        name="count"
        value={@count}
        autofocus
      />
      <span><%= @pending_move.max %></span>
    </form>

    <div class="MoveForm-actions">
      <.button 
        class="Button primary"
        phx-click="move"
        phx-value-count={@pending_move.max}
      >Move Max (<%= @pending_move.max %>)</.button>
      <.button 
        class="Button primary"
        phx-click="move"
        phx-value-count={@count}
      >Move Selected (<%= @count %>)</.button>
      <.button 
        class="Button primary"
        phx-click="move"
        phx-value-count={@pending_move.min}
      >Move Min (<%= @pending_move.min %>)</.button>
      <.button class="Button" phx-click="cancel_move">Cancel</.button>
    </div>
  </div>
</div>
